name: GO Security Check

on:
  workflow_call:
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * *" # Every night midnight UTC

jobs:
  check-for-vulnerabilities:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: "go.mod"
          cache: true
          cache-dependency-path: go.sum
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
        shell: bash
      - name: Run govulncheck
        run: govulncheck -C . -format sarif ./... > govulncheck.sarif
      - name: Prepare artifact name
        id: prepare
        run: |
          sanitized_branch_name=$(echo "${GITHUB_REF_NAME}" | tr '/' '-')
          echo "branch_name=${sanitized_branch_name}" >> $GITHUB_OUTPUT
      - name: Upload govulncheck result
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: govulncheck-${{ steps.prepare.outputs.branch_name }}-${{ github.run_number }}
          path: govulncheck.sarif
          retention-days: 1
