name: GO Security Check

on:
  workflow_call:
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * *" # Every night midnight UTC

jobs:
  check-for-vulnerabilities:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version-file: "go.mod"
          cache: true
          cache-dependency-path: go.sum
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
        shell: bash
      - name: Run govulncheck
        run: govulncheck -C . -format sarif ./... > govulncheck.sarif
      - name: Prepare artifact name
        id: prepare
        run: |
          sanitized_branch_name=$(echo "${GITHUB_REF_NAME}" | tr '/' '-')
          echo "branch_name=${sanitized_branch_name}" >> $GITHUB_OUTPUT
      - name: Upload govulncheck result
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: govulncheck-${{ steps.prepare.outputs.branch_name }}-${{ github.run_number }}
          path: govulncheck.sarif
          retention-days: 1
